body {
  margin: 0;
  font-family: 'Roboto', 'Oxygen', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #213555;
  overflow: scroll; 
  height: 100%;
}

.viewer-wrapper {
  max-height: 400px;
  overflow-y: auto; 
}
